@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<!-- About -->
<section id="about" class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="section-title">Hakkımızda</h2>
        <div class="row align-items-center">
            <div class="col-md-6">
                <p>
                    Siz değerli müşterilerimize profesyonel ve kaliteli hizmet sunma misyonuyla yola çıkan dükkanımız, modern ve geleneksel hizmet anlayışını bir araya getiren bir erkek bakım merkezidir.

                    Uzman ekibimiz, en son trendleri takip ederek saç kesimi, sakal tıraşı ve kişisel bakım ihtiyaçlarınızı titizlikle karşılamaktadır. Yalnızca estetik değil, aynı zamanda hijyen standartlarına da büyük önem veriyoruz. Kullandığımız ürünler ve ekipmanlar, sağlığınızı ön planda tutarak seçilmektedir.

                    Rahat bir ortamda, size özel hizmet almanın keyfini çıkarabilir; işinde uzman berberlerimizle stilinizi yeniden keşfedebilirsiniz. Sizin memnuniyetiniz bizim önceliğimizdir.

                    Gelin, kendinizi özel hissedeceğiniz bu deneyimi birlikte yaşayın.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/images/about.jpg" alt="Berber Fotoğrafı" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section id="services" class="py-5">
    <div class="container text-center">
        <h2 class="section-title">Hizmetlerimiz</h2>
        <div class="row g-4">
            <div class="col-md-4">
                <img src="~/images/sackesimi.jpg" alt="Hizmet 1" class="img-fluid rounded" style="width: 350px; height: 230px;">
            </div>
            <div class="col-md-4">
                <img src="~/images/sakal-kesim.jpg" alt="Hizmet 1" class="img-fluid rounded" style="width: 350px; height: 230px;">
            </div>
            <div class="col-md-4">
                <img src="~/images/sac-yikama.jpg" alt="Hizmet 1" class="img-fluid rounded" style="width: 350px; height: 230px;">
            </div>
            <div class="col-md-4">
                <img src="~/images/fon-islemi.jpg" alt="Hizmet 1" class="img-fluid rounded" style="width: 350px; height: 230px;">
            </div>
            <div class="col-md-4">
                <img src="~/images/bakim.jpg" alt="Hizmet 1" class="img-fluid rounded" style="width: 350px; height: 230px;">
            </div>
            <div class="col-md-4">
                <img src="~/images/kafa-masaji.jpg" alt="Hizmet 1" class="img-fluid rounded" style="width: 350px; height: 230px;">
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact" class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="section-title">İletişim</h2>
        <p>Adres: Örnek Sokak No: 1, İstanbul</p>
        <p>Telefon: 0555 555 55 55</p>
        <p>Email: info@berberimiz.com</p>
    </div>
</section>