@model BerberAppointmentSystem.Models.Uzmanlik

@{
    ViewData["Title"] = "Uzmanlık Ekle";
}

<h2>Uzmanlık Ekle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="UzmanlikAd">Uzmanlık Adı</label>
        <input type="text" class="form-control" id="UzmanlikAd" name="UzmanlikAd" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Ekle</button>
</form>